<mat-card>
  <mat-card-header class="totvs-card-header">
      <mat-card-title> Gerenciamento de Usuários </mat-card-title>
  </mat-card-header>

  <mat-card-content class="totvs-card-content">
    <mat-expansion-panel class="totvs-panel-filter">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filtro de usuários
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form name="usersFilterForm" role="form" [formGroup]="usersFilterForm" class="totvs-form-filter">
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput (keyup)="applyFilter()" formControlName="id" #input>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput (keyup)="applyFilter()" placeholder="Ex. Mia" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput (keyup)="applyFilter()" placeholder="exemplo@gmail.com" formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Permissões</mat-label>
          <mat-select multiple formControlName="authorities" (selectionChange)="applyFilter()">
            <mat-option *ngFor="let authoritie of authorities" [value]="authoritie">{{ authoritie }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-expansion-panel>

    @if (isLoadingResults) {
      <div class="totvs-loading-shade">
        <mat-spinner></mat-spinner>
      </div>
    }

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let user"> {{user.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let user"> {{user.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="authorities">
          <th mat-header-cell *matHeaderCellDef> Permissões </th>
          <td mat-cell *matCellDef="let user"> {{user.authorities.join(", ")}} </td>
        </ng-container>

        <ng-container matColumnDef="activated">
          <th mat-header-cell *matHeaderCellDef> Ativo </th>
          <td mat-cell *matCellDef="let user"> {{user.activated}} </td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef> Visualizar </th>
          <td mat-cell *matCellDef="let user">
            <button mat-mini-fab color="primary"
              aria-label="Visualizar perfil do usuário"
              matTooltip="Visualizar perfil do usuário"
              (click)="openUserProfile(user)">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                      [length]="resultsLength"
                      aria-label="Select page of users"
                      showFirstLastButtons>
      </mat-paginator>
    </div>

  </mat-card-content>

</mat-card>
