$success-color: #28A745;
$danger-color: #DC3545;
$error-color: $danger-color;
$warning-color: #FFC107;
$info-color: #17A2B8;

$primary: #1c1a19;
$accent: #feac0e;

$success-color: #28A745;
$danger-color: #DC3545;
$error-color: $danger-color;
$warning-color: #FFC107;
$info-color: #17A2B8;

$primary: #1c1a19;
$accent: #261640;


$indigo: #6610f2;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #feac0e;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary-2: #feac0e;
$secondary: #0897e9;
$success: #28e048;
$info: #17a2b8;
$warning: #feac0e;
$danger: #dc3545;
$light: #eee;
$dark: #363636;
$space-shuttle: #363636;
$hurricane: #363636;
$boulder: #767676;
$blue: #0897e9;
$gray-lighter: #f5f5f5;
$gray-light: #cfcfcf;
$gray: #979797;
$gray-darker: #4d5451;
$gray-dove: #6a6a6a;
$brown: #363636;
$gray-light-2: #dedede;
$yellow-mustard: #e6a441;
$blue-light: #0adbe3;
$brown-darker: #363636;
$brown-dark: #332f2b;
$brown-lighter: #57514e;
$blue-chill: #0d729c;
$blue-dense: #252863;
$gray-dark: #4d4641;
$purple: #6b48ff;
$green: #28e048;
$event: #0adbe3;
$event-alt: #6b48ff;
$primary-itau: #ec7000;

$primary-light: #ece8e9;
$primary-light--hover: #e2dddd;
$primary-light--active: #c3b8ba;
$primary-normal: #3c1b1f;
$primary-normal--hover: #36181c;
$primary-normal--active: #301619;
$primary-dark: #2d1417;
$primary-dark--hover: #241013;
$primary-dark--active: #1b0c0e;
$primary-darker: #15090b;

$secondary-light: #e9e8ec;
$secondary-light--hover: #dedce2;
$secondary-light--active: #bcb7c4;
$secondary-normal: #261640;
$secondary-normal--hover: #22143a;
$secondary-normal--active: #1e1233;
$secondary-dark: #1d1130;
$secondary-dark--hover: #170d26;
$secondary-dark--active: #110a1d;
$secondary-darker: #0d0816;

$ascent-light: #f7e0b6;
$ascent-light--hover: #f5d8a6;
$ascent-light--active: #f5d8a6;
$ascent-normal: #f5d8a6;
$ascent-normal--hover: #f1cb8e;
$ascent-normal--active: #f1cb8e;
$ascent-dark: #f0a328;
$ascent-dark--hover: #754902;
$ascent-dark--active: #754902;
$ascent-darker: #804f00;

$neutral: #bebebe;
$neutral-light: #fafafa;
