$success-color: #28A745;
$danger-color: #DC3545;
$error-color: $danger-color;
$warning-color: #FFC107;
$info-color: #17A2B8;

$primary: #1c1a19;
$accent: #261640;

$primary-light: #ece8e9;
$primary-light--hover: #e2dddd;
$primary-light--active: #c3b8ba;
$primary-normal: #3c1b1f;
$primary-normal--hover: #36181c;
$primary-normal--active: #301619;
$primary-dark: #2d1417;
$primary-dark--hover: #241013;
$primary-dark--active: #1b0c0e;
$primary-darker: #15090b;

$secondary-light: #e9e8ec;
$secondary-light--hover: #dedce2;
$secondary-light--active: #bcb7c4;
$secondary-normal: #261640;
$secondary-normal--hover: #22143a;
$secondary-normal--active: #1e1233;
$secondary-dark: #1d1130;
$secondary-dark--hover: #170d26;
$secondary-dark--active: #110a1d;
$secondary-darker: #0d0816;

$ascent-light: #f7e0b6;
$ascent-light--hover: #f5d8a6;
$ascent-light--active: #f5d8a6;
$ascent-normal: #f5d8a6;
$ascent-normal--hover: #f1cb8e;
$ascent-normal--active: #f1cb8e;
$ascent-dark: #f0a328;
$ascent-dark--hover: #754902;
$ascent-dark--active: #754902;
$ascent-darker: #804f00;

$neutral: #bebebe;
$neutral-light: #fafafa;
