$totvs-primary: (
  50 : #e4e4e3,
  100 : #babbb9,
  200 : #8e8f8c,
  300 : #636360,
  400 : #4b4b47,
  500 : #1c1a19,
  600 : #373531,
  700 : #292726,
  800 : #1c1a19,
  900 : #0f0d0d,
  A100 : #ffb74e,
  A200 : #ffa31b,
  A400 : #e78900,
  A700 : #ce7a00,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$totvs-accent: (
    50 : #e5e3e8,
    100 : #beb9c6,
    200 : #938ba0,
    300 : #675c79,
    400 : #47395d,
    500 : #261640,
    600 : #22133a,
    700 : #1c1032,
    800 : #170c2a,
    900 : #0d061c,
    A100 : #855bff,
    A200 : #6028ff,
    A400 : #3f00f4,
    A700 : #3800db,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



