<mat-card >

  <mat-card-content>

    <div class="totvs-content">
      <div class="totvs-content-text">
        <h1>
          Tenha um <b>desenvolvedor de software</b>
          que cresce junto com a sua empresa
        </h1>
        <p>
          Tudo que sua empresa precisa para automação e padronização
          da regra de negócio.
        </p>

        <ul>
          <li>Profissional fullstack para resolver qualquer problema</li>
          <li>Conhecimento frequentemente atualizado de acordo com o que tiver de melhor no mercado</li>
        </ul>


        <div>
          <a mat-flat-button href="https://www.linkedin.com/in/omadriel/" target="_blank"> LinkedIn </a>
        </div>
      </div>

      <div class="totvs-content-banner">
        <img src="../../assets/hero-banner-adriel-slice.png" alt="j">
      </div>

    </div>

  </mat-card-content>

  <div class="totvs-arrow-down">

    <mat-icon>bolt</mat-icon>
  </div>

</mat-card>
